body{
    background-position: left;
    background-size: cover;
    border-radius: 15%;
    background-color:#B563EC ;
   
    }
.body{
    background-color: #B563EC;
}
.home{
    display: flex;
    font-size: 16pt;
}
ul {
    justify-content:space-between;
    list-style-type: none;
    align-items:center;
    padding: 18pt;
    font-size: medium;
    font-style: var(#B563EC);
}
.container{
    display: flex
}

table{
    align-items: center;
}

.receitas{
    
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: -5px;
}